body {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
}
.page-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: #fff;
    display: block;
    transition: 0.3s ease-in;
}
.hide-page {
    display: none;
    transition: 0.3s ease-in;
}
.page-loader img {
    height: 170px;
    width: 200px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 35%;
    animation: pageLoad infinite ease-in 1.7s;
}
.error-page {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 20px;
    font-weight: 500;
}
.error-page img {
    margin: 0 auto;
    display: block;
}
.error-page button {
    margin: 0 auto;
    display: block;
    background: #2ea44f;
    border-style: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
}
li, button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    box-sizing: border-box;
    font-weight: inherit;
}
header {
    background: #24292e;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 32px;
    line-height: 1.5;
    z-index: 32;
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: 16px;
    align-self: stretch;
}
.menu-bar {
    display: none;
}
.mobile-notifs {
    display: none;
}
.menu-bar svg {
    color: #fff;
}
.search-wrapper {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    background-color: #24292e;
    border: 1px solid #444d56;
    box-shadow: none;
    border-radius: 5px;
    width: 270px;
}
#search-input {
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline: none;
    width: 80%;
    color: #fff;
}
#search-input::placeholder {
    color: rgb(202, 202, 202);
    font-size: 14px;
    font-weight: 400;
}
.search-wrapper label {
    float: right;
    position: relative;
    top: 5px;
}
.search-wrapper label img {
    display: inline-block;
    overflow: visible!important;
    vertical-align: middle;
    margin-right: 8px;
}
.main_navigation ul {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;
    position: relative;
    top: 4px;
}
.main_navigation ul li {
    display: inline-block;
    color: #fff;
    margin-right: 16px;
}
.user_ops {
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 89%;
}
:is(.user_ops, .mobile-notifs) .mail_status {
    position: absolute;
    top: -5px;
    left: 6px;
    width: 14px;
    height: 14px;
    color: #fff;
    background: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid #24292e;
    border-radius: 50%;
}
.user_ops li {
    margin-right: 16px;
    list-style: none;
}
#user {
    margin-right: 0;
}
img.user_thumb {
    height: 20px;
    width: 20px;
    background: #959da5;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 5px;
}
.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}
.underline {
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid #e1e4e8;
    position: absolute;
    top: 106px;
}
main {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5%;
}
aside {
    position: relative;
    top: 40px;
    height: fit-content;
    box-sizing: border-box;
    width: 24%;
    margin-right: 32px;
}
.user-info {
    position: relative;
    line-height: 1.5;
    margin-top: 16px;
}
.user-info > * {
    margin: 0;
}
.user-info h2#name {
    font-weight: 500;
    color: #24292e;
    font-size: 26px;
}
.user-info h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: #586069;
}
aside p {
    font-size: 16px;
    margin-top: 16px;
}
nav.sub_navigation {
    width: 100%;
    margin-top: 24px;
}
nav.sub_navigation ul {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 18px;
    border-bottom: 1px solid #e1e4e8;   
}
nav.sub_navigation ul li {
    display: inline;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: #24292e;
    text-align: center;
    white-space: nowrap;
    background-color: initial;
    border: 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}
nav.sub_navigation ul li:nth-child(2) :is(span, .octicon) {
    font-weight: 600;
    color: #24292e;
}
nav.sub_navigation ul li:hover{
    border-bottom-color: #cccccc;
    transition: 0.3s;
    outline-offset: -4px;
}
nav.sub_navigation ul li:nth-child(2) {
    border-bottom-color: #f9826c;
    outline: 1px dotted transparent;
    outline-offset: -4px;
}
section {
    height: fit-content;
    width: 78%;
    box-sizing: border-box;
}
aside > * {
    margin: 0 auto;
    display: block;

}
.UnderlineNav-octicon {
    margin-right: 4px;
    color: #959da5;
}
.octicon {
    display: inline-block;
    overflow: visible!important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.thumbnail {
    height: auto;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background: rgb(206, 206, 206);
    position: relative;
    background-size: cover;
    background-position: center;
}
.status {
    position: absolute;
    top: 70%;
    left: 85%;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #e1e4e8;
}
span.status-message {
    display: none;
}
.repo-controls {
    box-sizing: border-box;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 1px solid #e1e4e8;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
    box-sizing: border-box;
    word-wrap: break-word;
}
#repo-search {
    width: 70%;
    margin-right: 2%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}
.controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: auto;
    box-sizing: border-box;
    justify-content: flex-end;
}
.controls button span:first-child{
    padding-right: 5px;
}
.controls button {
    color: #24292e;
    background: #fafbfc;
    border: 1px solid rgb(27 31 35 / 15%);
    margin-right: 3px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    box-sizing: border-box;
}
#repo div#repo_container {
    box-sizing: border-box;
    padding-top: 24px!important;
    padding-bottom: 24px!important;
    border-bottom: 1px solid #e1e4e8;
    margin: 0 auto;
    width: 100%;
}
#repo div#repo_container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0366d6;
    margin-top: 0;
}
#repo_container button {
    float: right;
    position: relative;
    top: 6px;
    background: #fafbfc;
    padding: 3px 12px;
    border: 1px solid rgb(27 31 35 / 15%);
    font-size: 12px;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
}
#repo_container button svg {
    margin-right: 4px;
    overflow: visible;
    color: #6a737d;
    vertical-align: text-top;
    display: inline-block;
}
#repo_container p {
    color: #586069;
    padding-right: 24px;
    margin-bottom: 18px;
    font-size: 14px;
}
#subrepo_text span .repo-language-color {
    position: relative;
    top: 1px;
    font-size: 12px;
    color: grey;
    box-sizing: border-box;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(27 31 35 / 10%);
    display: inline-block;
    border-radius: 50%;
}
#subrepo_text span {
    font-size: 12px;
    color: #586069;
    font-weight: 400;
    margin-right: 16px;
}
#subrepo_text span.date {
    text-transform: none;
}
#subrepo_text span svg {
    margin-right: 3px;
}
footer {
    margin: 0 auto;
    width: 95%;
    list-style: none;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
    border-top: 1px solid #e1e4e8;
    color: #586069;
}
.footer-container {
    margin: 0 auto;
}
.footer-container li {
    padding-left: 50px;
    margin-top: 20px;
    color: #0366d6;
    display: inline-block;
}
.footer-container li#copyright {
    color: inherit;
}
.footer-container li#logo {
    color: #d1d5da;
    margin: 0 32px
}
@media(max-width: 1200px) {
    .user_ops {
        left: 87%;
    }
}
@media(max-width: 1010px) {
    .user_ops {
        left: 85%;
    }
    .repo-controls {
        flex-direction: column;
    }
    #repo-search {
        width: 100%;
    }
    .controls {
        justify-content: flex-start;
        margin-top: 16px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 16px;
    }
    nav.main_navigation {
        display: none;
    }
    .user_ops {
        display: none;
    }
    .menu-bar {
        display: inline-block;
        color: #fff;
    }
    .three-bars {
        fill: currentColor;
        position: relative;
        top: 4px;
    }
    .mobile-notifs {
        display: inline-block;
        position: relative;
        top: 10px;
    }
    .mobile-notifs svg {
        height: 16;
        width: 16;
        color: #fff;
        vertical-align: middle;
    }
    main {
        flex-direction: column;
    }
    section {
        width: 100%;
    }
    aside {
        top: 0;
        width: 100%;
        margin-top: 24px;
    }
    .thumbnail {
        width: 24%;
        padding-top: 24%;
        margin: 0 0;
        display: inline-block;
    }
    .user-info{
        display: inline-block;
        position: absolute;
        margin-left: 16px;
    }
    aside p {
        margin-top: 32px;
    }
    .underline {
        display: none;
    }
    nav.sub_navigation ul {
        overflow-x: scroll;
        height: fit-content;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #e1e4e8;
        margin-top: 0;
    }
    .status {
        display: none;
    }
    .search-wrapper {
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .footer-container li {
        margin-top: 10px;
    }
    .footer-container li#logo {
        display: none;
    }
}
@keyframes pageLoad {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}