body {
    padding: 0;
    margin: 0;
    position: relative;
}
* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    box-sizing: border-box;
    font-weight: inherit;
}
h1 {
    text-align: center;
    position: relative;
    top: 130px;
}
form {
    width: 250px;
    height: 250px;
    border: 2px solid #919191;
    border-radius: 20px;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: rgba(77, 77, 77, 0.083);
}
form img {
    height: 32px;
    width: 32px;
    margin: 0 auto;
    margin-bottom: 24px;
}
#username {
    border-radius: 5px;
    height: 36px;
    border-style: none;
    border: 1px solid rgb(206, 206, 206);
    outline: none;
    padding: 5px 10px;
    margin-bottom: 24px;
}
button {
    padding: 8px 12px;
    cursor: pointer;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
button a {
    padding: 5px 65px;
    color: inherit;
    text-decoration: none;
}